version: '3.8'

services:
  web:
    build: .
    image: recontrol_backend
    ports:
      - "${PORT:-80}:${PORT:-80}"
    env_file: .env.production
    environment:
      RAILS_ENV: production
      PORT: ${PORT:-80}
      DATABASE_URL: "postgres://${DB_PROD_USER}:${DB_PROD_PASSWORD}@${DB_PROD_HOST}:${DB_PROD_PORT}/${DB_PROD_NAME}"

    volumes:
      - rails_storage:/rails/storage

volumes:
  rails_storage: